Data2
Occurrences
Libro1.xlsx
Agriornis.montanus_MMCP_GMCP_Fcolext
Agriornis.montanus_Mbuffer_GMCP_Fcolext
Agriornis.montanus
Data
bias_layer
errores
maxent.cache
.RData
BiasfileM.asc
candidate_models.bat
final_models.bat
log_file.txt
spatial_thin_log.txt
Missing.txt
maxent.jar
.Rhistory
.Rproj.user
16kproyect.Rproj
Alouatta.palliata
Aotus.brumbacki
AgendaModelado
R/fixing_biomod.R
R/fixing_ensambles.R
R/resolving_errors.R
timespent2.txt
Plutarchia.guascensis
R/comparingM.R
Coendou.vestitus
Coendou.vestitus
a.pdf
R/comparingM.R
1.txt
R/binsthresholds.R
R/datos_erroneos_roedores.R
1.txt
Anthocephala.berlepschi
Anisognathus.melanogenys
Anthocephala.berlepschicandidate_models.bat
2.txt
Habia.gutturaliscandidate_models.bat
Anthocephala.berlepschi
Anisognathus.melanogenys
dividing spp.R
R/6A_1_doenmEVAL2.R
R/Bio2_routine_BIOCLIM.R
R/Bio2_routine_nolimit.R
Coeligena.phalerata
Coeligena.phalerata.complex
Data3
Chaetocercus.astreans.NoBiasLayer
Chaetocercus.astreans
Myiothlypis.basilica.individual
Myiothlypis.basilica.No3500Data